<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admins_comments_path  %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Comments</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.admins_comment.user", :default => t("activerecord.labels.user", :default => "User")) %></th>
          <th><%= t("activerecord.attributes.admins_comment.body", :default => t("activerecord.labels.body", :default => "Comment")) %></th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th><%= t("activerecord.attributes.admins_comment.project", :default => t("activerecord.labels.project", :default => "Project")) %></th>
          <th><%= t("activerecord.attributes.admins_comment.clip", :default => t("activerecord.labels.clip", :default => "Clip")) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @comments.each do |comment| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to comment.id, admins_comment_path(comment) %>
          </td>
          <td><%= comment.user.username %></td>
          <td><%= comment.body %></td>
          <td><%= comment.created_at %></td>
          <td><%= link_to_unless comment.project.blank?, comment.project_id, comment.project, :target => "_blank" %></td>
          <td><%= link_to_unless comment.clip.blank?, comment.clip_id, comment.clip, :target => "_blank" %></td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admins_comment_path(comment) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admins_comment_path(comment), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @comments  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
