<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admins_settings_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admins_setting_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Settings</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.admins_setting.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Value")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @settings.each do |setting| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= setting.id %>
          </td>
                    <td>
            <%= link_to setting.name, admins_setting_path(setting) %>
          </td>
                    <td>
            <%= setting.value %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admins_setting_path(setting) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admins_setting_path(setting) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admins_setting_path(setting), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
