<div class="lh-1dot25 bg-f0f0f0 p-10 m-b-10">
  <h4 class="fg-shinyblue fs-13">
    <%= notification.title %>
  </h4>

  <p class="fs-11 fg-999">
    <%= time_ago_in_words( notification.created_at ) %> ago
  </p>

  <p><%= notification.description %></p>

  <% if notification.status_prompt? %>

    <%= form_for notification, :remote => true do %>
      <% notification.prompt_action_options.each do |action| %>
        <button name="status" value="<%= action["value"] %>" class="btn-blueg">
          <%= action["label"] %>
        </button>
      <% end %>
    <% end %>

  <% elsif not notification.status_readonly? %>
  <p class="hidden">
    Status: <%= notification.status %>
  </p>
  <% end %>
</div>