<div class="m-10" style="width: 400px">
  <%= form_for(
      @group,
      :html => {
        :id => 'group_form',
        :multipart => true
      }
  ) do |f| %>


  <div class="bg-lblue m-v-10 p-10">
    <div class="clearfix">
      <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= f.label(
          :title,
          raw('<span class="required">*</span> Group Name')
        ) %>
        <%= f.text_field(
          :title,
          :validate => 'required: true',
          :class => 'textinput w-98p'
        ) %>
      </div>
      <!-- .field -->

      <div class="field">
        <%= f.label(
          :description,
          raw('<span class="required">*</span> Description')
        ) %>
        <%= f.text_area(
          :description,
          :validate => 'required: true',
          :class => 'textinput w-98p',
          :rows => '2'
        ) %>
      </div>
      <!-- .field -->

      <div class="field">
        <%= f.label :membership, 'Group Membership' %>
        <%= f.select(
          :membership,
          Group::MEMBERSHIP.options,
          {},
          { :class => 'm-t-5 d-b' }
        ) %>
      </div>
      <!-- .field -->

      <div class="field">
        <label>
          Categories
          <span class="sidenotes">
            (check all boxes that apply)
          </span>
        </label>
        <div class="line m-t-5 m-b-15">
          <%
            topics_array = [[],[]]
            topics = Topic.all

            #first list need to have more records if there are remainders
            first_list_size = topics.count / 2 + topics.count % 2
            running = 0

            topics.each do |topic|
              running += 1
              topics_array[running <= first_list_size ? 0 : 1] << topic
            end
          %>
          <% topics_array.each do |t| %>
            <div class="unit size1of2">
              <%= render(
                :partial => 'shared/topic_checkbox_list',
                :locals => {
                  :field_name => 'group[topic_ids][]',
                  :field_array => @group.topic_ids,
                  :topics => t
                }
              ) %>
            </div>
            <!-- .unit -->
          <% end %>
        </div>
        <!-- .line -->
      </div>
      <!-- .field -->

      <div class="field">
        <%= f.label(:location, raw('Location <span class="sidenotes">(city, state, country)</span>')) %>
        <%= f.text_field(:location, :class => 'geo-autocomplete textinput w-98p') %>
      </div>
      <!-- .field -->

      <div class="">
        <div class="field">
          <%= label_tag :picture, raw('Upload Picture <span class="sidenotes">(formats: jpg, jpeg, gif, png)</span>') %>
          <br/>
          <%= f.file_field :picture %>
        </div>
        <div class="hidden">
          <% '=f.label :remote_picture_url, "or from URL"' %>
          <% '=f.text_field :remote_picture_url' %>
        </div>
      </div>
      <!-- .unit -->

      

    </div>

  </div>

  <div class="border-b18f m-b-10"></div>

  <div class="actions f-ta-r">
    <%= f.submit 'Submit', :class => 'btn-blueg m-r-10', :style => 'width: 80px;' %>
    <a href="javascript:$.fancybox.close();">Close</a>
  </div>

  <% end %>
</div>
<% content_for :script do %>
  <%= javascript_include_tag "ui.geo_autocomplete" %>
  <script>
    $('#project_form')
      .validate({
        submitHandler: function(form) {
          $.fancybox.showActivity();
          form.submit();
        }
      });
    $(".geo-autocomplete")
      .geo_autocomplete({
        maptype: "roadmap",
        geocoder_address: true,
        mapwidth: 80,
        mapheight: 80
      });
  </script>
<% end %>
<% if request.xhr? %>
 <%= yield :script %>
<% end %>