<ul class="level-<%= level %> <%= 'sub-comments' if level > 0 %> comments l-ls-n m-0">
  <% comments.each do |c| %>
  <li id="comment-<%= c.id %>" class="m-b-5">
    <h4>
      <a rel="profile" href="<%= profile_path(c.user) %>" class="fg-shinyblue f-b">
        <%= c.user.username if c.user %>
      </a>
      <span class="fg-999 f-nb">
        (<%= time_ago_in_words(c.created_at) %> ago)
      </span>
      <% # TODO extract method: current_user.can_delete_comment?(c) %>
      <% if admin_signed_in? or (user_signed_in? and (not c.project.blank? and c.project.user_id == current_user.id )) %>
        <%= link_to "delete",
                    delete_comment_path(c),
                    :class => "open-lightbox" %>
      <% end %>
    </h4>
    <div class="m-10">
      <%= c.body %>
    </div>
      <%= render(
        :partial => 'shared/comments_set',
        :locals => {
          :comments => c.children,
          :level => level + 1
        }
      ) if c.children.count > 0 %>
  </li>
  <% end %>
</ul>
<script type="text/javascript">
$(document).ready(function() {
 // TODO remove duplicate in _bind_lightbox_to_links
  var config = {
      padding: 0,
      margin: 0,
      modal: false,
      titleShow: false,
      overlayColor: '#fff',
      overlayOpacity: 0.5,
      centerOnScroll: true,
      showCloseButton: false,
      enableEscapeButton: true};

  $('a.open-lightbox').fancybox(config);
});
</script>