<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admins_translations_path  %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Labels</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.admins_translation.key", :default => t("activerecord.labels.key", :default => "Key")) %></th>
          <th><%= t("activerecord.attributes.admins_translation.value", :default => t("activerecord.labels.value", :default => "Value")) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @translations.each do |translation| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= translation.id %>
          </td>
          <td>
            <%= link_to translation.key, admins_translation_path(translation) %>
          </td>
          <td><%= translation.value %></td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admins_translation_path(translation) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admins_translation_path(translation) %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @translations  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
